@use "./base.scss";

body {
  --callout-color: 182, 196, 182;
  --callout-color-opacity: 32.5%;
  --editor-bg-color: hsla(35, 36%, 96%, 1);
  background: var(--editor-bg-color);

  --callout-container-shadow: 
    inset 0px 0px 0px 1px rgba(0, 0, 0, 0.08),
    0px 1px 6px 0px rgba(0, 0, 0, 0.12);
  
  --callout-radius: 4px;
  --callout-title-shadow: 
    inset 0px -1px 0px 0px rgba(0, 0, 0, 0.05),
    inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2);
  
  --size-2-1: 2px;
  --size-2-2: 4px;
  --size-2-3: 6px;
  --size-4-1: 4px;
  --size-4-2: 8px;
  --size-4-3: 12px;
  --size-4-4: 16px;
  --size-4-5: 20px;
  --size-4-6: 24px;
  --size-4-8: 32px;
  --size-4-9: 36px;
  --size-4-12: 48px;
  --size-4-16: 64px;
  --size-4-18: 72px;

  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;

  --callout-shadow-offset: 4px;
  --callout-content-shadow-blur: 3px;
  
  --callout-title-padding: var(--size-4-3) var(--size-4-4);
  --callout-content-padding: 
    var(--size-4-1)
    var(--size-4-4)
    calc(var(--size-4-1) + var(--callout-shadow-offset))
    var(--size-4-4);
  
  --callout-content-shadow: 
    inset 0px 0px 0px 1px rgba(0, 0, 0, 0.08),
    inset 0px calc(-1 * var(--callout-shadow-offset)) var(--callout-content-shadow-blur) 0px rgba(100, 100, 100, 0.13);

  --callout-icon-fold-filter: brightness(1);
  --font-text-size: 16px;

  --callout-icon-general: shapes;
  --callout-icon-note: sticker;
  --callout-icon-abstract: loader;
  --callout-icon-summary: align-justify;
  --callout-icon-tldr: book-open-text;
  --callout-icon-info: badge-info;
  --callout-icon-todo: list-todo;
  --callout-icon-tip: clover;
  --callout-icon-hint: search-slash;
  --callout-icon-important: square-asterisk;
  --callout-icon-success: check-check;
  --callout-icon-check: check-check;
  --callout-icon-done: check-check;
  --callout-icon-question: circle-help;
  --callout-icon-help: life-buoy;
  --callout-icon-faq: circle-help;
  --callout-icon-warning: triangle-alert;
  --callout-icon-caution: construction;
  --callout-icon-attention: megaphone;
  --callout-icon-fail: circle-slash;
  --callout-icon-missing: search;
  --callout-icon-danger: shield-alert;
  --callout-icon-error: ban;
  --callout-icon-bug: bug;
  --callout-icon-example: scroll-text;
  --callout-icon-quote: message-square-note;
  --callout-icon-cite: book-marked;

  --callout-rgb-general: 182, 196, 182;
  --callout-rgb-note: 200, 175, 155;
  --callout-rgb-abstract: 34, 152, 225;
  --callout-rgb-summary: 234, 181, 52;
  --callout-rgb-tldr: 240, 180, 225;
  --callout-rgb-info: 71, 162, 187;
  --callout-rgb-todo: 58, 173, 252;
  --callout-rgb-tip: 70, 206, 185;
  --callout-rgb-hint: 70, 206, 185;
  --callout-rgb-important: 246, 113, 118;
  --callout-rgb-success: 87, 200, 83;
  --callout-rgb-check: 87, 200, 83;
  --callout-rgb-done: 87, 200, 83;
  --callout-rgb-question: 130, 190, 235;
  --callout-rgb-help: 250, 128, 96;
  --callout-rgb-faq: 130, 190, 235;
  --callout-rgb-warning: 255, 161, 32;
  --callout-rgb-caution: 255, 161, 32;
  --callout-rgb-attention: 255, 161, 32;
  --callout-rgb-fail: 226, 72, 86;
  --callout-rgb-missing: 226, 72, 86;
  --callout-rgb-danger: 226, 72, 86;
  --callout-rgb-error: 226, 72, 86;
  --callout-rgb-bug: 153, 93, 133;
  --callout-rgb-example: 216, 141, 130;
  --callout-rgb-quote: 173, 214, 171;
  --callout-rgb-cite: 237, 217, 162;
}

.callout {
  background-color: color-mix(in srgb, rgba(var(--callout-color), var(--callout-color-opacity)), var(--editor-bg-color));
  padding: 0;
  box-shadow: var(--callout-container-shadow);
}

.callout.is-collapsible.is-collapsed .callout-title {
  border-radius: var(--callout-radius);
}

.callout-title {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: var(--callout-title-shadow);
  gap: var(--size-4-2);
  padding: var(--callout-title-padding);
}

.callout-title .callout-icon,
.callout-title .callout-fold {
  filter: var(--callout-icon-fold-filter);
}

.callout-title .callout-icon svg,
.callout-title .callout-fold svg {
  height: var(--font-text-size);
  width: var(--font-text-size);
}

.callout-title-inner p {
  font-weight: 1200 !important;
  color: hsla(31, 45%, 24%, 1) !important;
}

.callout .callout-title {
  margin-right: auto;
}

.callout .callout-fold {
  margin-left: auto;
}

.callout-content {
  border-bottom-right-radius: var(--callout-radius);
  border-bottom-left-radius: var(--callout-radius);
  padding: var(--callout-content-padding);
  background-color: var(--editor-bg-color);
}

.callout {
  --callout-icon: var(--callout-icon-general);
  --callout-color: var(--callout-rgb-general);
}

.callout[data-callout=note] {
  --callout-icon: var(--callout-icon-note);
  --callout-color: var(--callout-rgb-note);
}

.callout[data-callout=abstract] {
  --callout-icon: var(--callout-icon-abstract);
  --callout-color: var(--callout-rgb-abstract);
}

.callout[data-callout=summary] {
  --callout-icon: var(--callout-icon-summary);
  --callout-color: var(--callout-rgb-summary);
}

.callout[data-callout=tldr],
.callout[data-callout="tl;dr"] {
  --callout-icon: var(--callout-icon-tldr);
  --callout-color: var(--callout-rgb-tldr);
}

.callout[data-callout=info] {
  --callout-icon: var(--callout-icon-info);
  --callout-color: var(--callout-rgb-info);
}

.callout[data-callout=todo] {
  --callout-icon: var(--callout-icon-todo);
  --callout-color: var(--callout-rgb-todo);
}

.callout[data-callout=tip] {
  --callout-icon: var(--callout-icon-tip);
  --callout-color: var(--callout-rgb-tip);
}

.callout[data-callout=hint] {
  --callout-icon: var(--callout-icon-hint);
  --callout-color: var(--callout-rgb-hint);
}

.callout[data-callout=important] {
  --callout-icon: var(--callout-icon-important);
  --callout-color: var(--callout-rgb-important);
}

.callout[data-callout=success] {
  --callout-icon: var(--callout-icon-success);
  --callout-color: var(--callout-rgb-success);
}

.callout[data-callout=check] {
  --callout-icon: var(--callout-icon-check);
  --callout-color: var(--callout-rgb-check);
}

.callout[data-callout=done] {
  --callout-icon: var(--callout-icon-done);
  --callout-color: var(--callout-rgb-done);
}

.callout[data-callout=question] {
  --callout-color: var(--callout-rgb-question);
}

.callout[data-callout=help] {
  --callout-icon: var(--callout-icon-help);
  --callout-color: var(--callout-rgb-help);
}

.callout[data-callout=faq] {
  --callout-color: var(--callout-rgb-faq);
}

.callout[data-callout=warning] {
  --callout-color: var(--callout-rgb-warning);
}

.callout[data-callout=caution] {
  --callout-icon: var(--callout-icon-caution);
  --callout-color: var(--callout-rgb-caution);
}

.callout[data-callout=attention] {
  --callout-icon: var(--callout-icon-attention);
  --callout-color: var(--callout-rgb-attention);
}

.callout[data-callout=failure],
.callout[data-callout=fail] {
  --callout-icon: var(--callout-icon-fail);
  --callout-color: var(--callout-rgb-fail);
}

.callout[data-callout=missing] {
  --callout-icon: var(--callout-icon-missing);
  --callout-color: var(--callout-rgb-missing);
}

.callout[data-callout=danger] {
  --callout-icon: var(--callout-icon-danger);
  --callout-color: var(--callout-rgb-danger);
}

.callout[data-callout=error] {
  --callout-icon: var(--callout-icon-error);
  --callout-color: var(--callout-rgb-error);
}

.callout[data-callout=bug] {
  --callout-icon: var(--callout-icon-bug);
  --callout-color: var(--callout-rgb-bug);
}

.callout[data-callout=example] {
  --callout-icon: var(--callout-icon-example);
  --callout-color: var(--callout-rgb-example);
}

.callout[data-callout=quote] {
  --callout-color: var(--callout-rgb-quote);
}

.callout[data-callout=cite] {
  --callout-icon: var(--callout-icon-cite);
  --callout-color: var(--callout-rgb-cite);
}
